---

---
<style>
  section {
    position: relative;
    width: 100%;
    background-image: url('/main_visual_mock.jpeg');
    background-position: top center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 40;
    div#motto-section {
      position: relative;
      width: 100%;
      height: 1080px;
      padding: 170px 0 224px;
      z-index: 40;
    }
  }
  .bg-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
  }
  #video-background {
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 40;
  }
  #video-background:hover {
    cursor: url('/play_button.svg') 32 32, auto;
  }

  @keyframes blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  #go-down-indicator {
    position: absolute;
    width: 100%;
    height: 114px;
    left: 0;
    text-align: center;
    bottom: 110px;
    svg {
      path {
        opacity: 0;
        animation: blink 2s infinite ease-in-out;
        &:nth-child(3) {
          animation-delay: 0s;
        }
        &:nth-child(2) {
          animation-delay: 0.3s;
        }
        &:nth-child(1) {
          animation-delay: 0.6s;
        }
      }
    }
  }

  #fade-in-text {
    position: relative;
    width: 100%;
    max-width: 905px;
    margin: 0 auto;
    z-index: 40;
  }

  #text-svg-box {
    position: relative;
    width: 100%;
    z-index: 40;
    svg {
      width: 100%;
    }
  }
  #flip-box {
    position: relative;
    width: 100%;
    height: 180px;
    perspective: 1400px;

    #flip-card {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
      transform: translateZ(-90px);
    }
  }

  #save-text, #serve-text, #serve-text-back {
    position: absolute;
    display: flex;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  #serve-text {
    transform: translateZ(90px);
  }

  #serve-text-back {
    transform: rotateX(-180deg) translateZ(90px);
  }

  #save-text {
    transform: rotateX(90deg) translateZ(90px);
  }

  @keyframes flipInX {
    0% {
      transform:  translateZ(-90px) rotateX(0);
    }
    10%, 50% {
      transform:  translateZ(-90px) rotateX(-90deg);
    }
    60% {
      transform:  translateZ(-90px) rotateX(-180deg);
    }
    100% {
      transform:  translateZ(-90px) rotateX(-180deg);
    }
  }

  .flipping {
    animation: flipInX 5s infinite ease-in-out;
    animation-delay: 2s;
  }

  #middle-text {
    margin: 80px 0;
  }

  #slide-in-text-box {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    top: 355px;
    z-index: 40;
  }

  .slide-in-text {
    display: flex;
    justify-content: center;
    z-index: 20;
    color: #3CB9FF;
    text-align: center;
    font-size: 80px;
    font-style: normal;
    font-weight: 300;
    line-height: 180%; /* 144px */
    letter-spacing: 54.4px;
    span {
      font-weight: 800;
      b {
        letter-spacing: 0;
      }
    }
    min-width: max-content;
    transition: transform 1s ease-in-out;
  }

  .slide-in-text.left {
    transform: translateX(-2000px);
    &.slide-in {
      transform: translateX(0);
    }
  }

  .slide-in-text.right {
    transform: translateX(2000px);
    &.slide-in {
      transform: translateX(0);
    }
  }
</style>
<script>
  const sectionEl = document.getElementById('motto-section');
  const flipEl = document.getElementById('flip-card');
  const slideInEl = document.querySelectorAll('.slide-in-text');
  const observer = new IntersectionObserver((entries) => {
    entries.forEach(entry => {
      if (entry.isIntersecting) {
        flipEl.classList.add('flipping');
        slideInEl.forEach(el => {
          el.classList.add('slide-in');
        })
      }
    });

  }, {
    root: null,
    threshold: 0.5,
  });

  observer.observe(sectionEl);

</script>
<section>
    <div id="video-background" aria-hidden="true">
      <div id="go-down-indicator">
        <svg width="43" height="110" viewBox="0 0 43 110" fill="none">
          <path d="M22.366 108.5C21.9811 109.167 21.0189 109.167 20.634 108.5L4.50425 80.5625C4.11935 79.8958 4.60047 79.0625 5.37028 79.0625L37.6297 79.0625C38.3995 79.0625 38.8807 79.8958 38.4958 80.5625L22.366 108.5Z" fill="white" fill-opacity="0.75"/>
          <path d="M22.366 74.125C21.9811 74.7917 21.0189 74.7917 20.634 74.125L4.50425 46.1875C4.11935 45.5208 4.60047 44.6875 5.37028 44.6875L37.6297 44.6875C38.3995 44.6875 38.8807 45.5208 38.4958 46.1875L22.366 74.125Z" fill="white" fill-opacity="0.4"/>
          <path d="M22.366 39.75C21.9811 40.4167 21.0189 40.4167 20.634 39.75L4.50425 11.8125C4.11935 11.1458 4.60047 10.3125 5.37028 10.3125L37.6297 10.3125C38.3995 10.3125 38.8807 11.1458 38.4958 11.8125L22.366 39.75Z" fill="white" fill-opacity="0.15"/>
        </svg>
      </div>
    </div>
    <div id="motto-section">
      <div id="fade-in-text" class="will-fade-in">
        <div id="text-svg-box">
          <div id="flip-box">
            <div id="flip-card">
              <div id="serve-text">
                <svg width="898" height="180" viewBox="0 0 898 180" fill="none">
                  <path d="M0.511192 116.879H37.8282C37.8282 117.22 37.8282 117.561 37.8282 117.902C37.8282 118.243 37.8282 118.584 37.8282 118.925C37.6578 119.266 37.5726 119.692 37.5726 120.204C37.5726 120.545 37.5726 120.886 37.5726 121.227C37.4022 121.909 37.2318 122.591 37.0614 123.273C37.0614 123.955 37.0614 124.552 37.0614 125.063C37.0614 132.736 38.595 138.533 41.6621 142.454C44.7293 146.376 48.1372 148.422 51.886 148.592C52.0564 148.592 52.1416 148.592 52.1416 148.592C52.312 148.592 52.4823 148.592 52.6527 148.592C52.9935 148.592 53.3343 148.592 53.6751 148.592C54.1863 148.592 54.6123 148.507 54.9531 148.337C58.0203 147.655 60.7466 145.95 63.1322 143.222C65.6881 140.323 66.9661 136.487 66.9661 131.713C66.9661 126.768 65.2621 122.506 61.8542 118.925C58.6166 115.344 54.5271 111.934 49.5856 108.695C47.2 106.99 44.7293 105.37 42.1733 103.836C39.6174 102.301 37.0614 100.596 34.5054 98.7206C26.3264 93.435 18.8289 86.8707 12.013 79.0276C5.19712 71.1845 1.78917 60.6134 1.78917 47.3142C1.78917 47.1437 1.78917 46.9732 1.78917 46.8027C1.95957 46.6323 2.04477 46.3765 2.04477 46.0355C2.04477 45.865 2.04477 45.6945 2.04477 45.524C2.21516 45.3535 2.30036 45.183 2.30036 45.0125C2.30036 44.16 2.30036 43.3075 2.30036 42.4549C2.47076 41.6024 2.55596 40.7499 2.55596 39.8974C4.08953 29.8378 9.28665 20.716 18.1473 12.5319C27.008 4.1773 38.3394 0 52.1416 0C65.9437 0 78.0419 4.1773 88.4362 12.5319C99.0008 20.8865 104.283 34.1004 104.283 52.1736V55.7541H66.9661V50.8948C66.9661 44.9272 65.7733 40.3237 63.3878 37.0841C61.0022 33.8446 58.3611 31.7986 55.4643 30.9461C54.7827 30.7756 54.1863 30.6903 53.6751 30.6903C53.1639 30.5198 52.6527 30.4346 52.1416 30.4346C51.9712 30.4346 51.8008 30.4346 51.6304 30.4346C51.6304 30.4346 51.5452 30.4346 51.3748 30.4346C48.478 30.6051 45.7517 31.8838 43.1957 34.2709C40.8101 36.6579 39.6174 39.6417 39.6174 43.2222C39.6174 48.5078 41.4065 52.9408 44.9849 56.5213C48.7336 59.9314 53.2491 63.1709 58.5314 66.24C60.5762 67.604 62.7062 68.968 64.9213 70.332C67.3069 71.5255 69.6925 72.8043 72.078 74.1683C79.9163 78.7718 87.073 84.7394 93.5481 92.071C100.194 99.2321 103.772 109.462 104.283 122.761V127.109C104.283 147.228 98.8304 161.039 87.925 168.541C77.1899 175.873 64.6657 179.538 50.3524 179.538L44.9849 179.794C30.5011 178.942 19.3401 174.082 11.5018 165.216C3.83394 156.35 0 143.818 0 127.621C0 126.768 0 125.916 0 125.063C0.170397 124.211 0.255596 123.358 0.255596 122.506C0.255596 122.165 0.255596 121.824 0.255596 121.483C0.255596 121.142 0.255596 120.801 0.255596 120.46C0.425993 119.948 0.511192 119.351 0.511192 118.669C0.511192 117.987 0.511192 117.39 0.511192 116.879Z" fill="url(#paint0_linear_1004_3024)"/>
                  <path d="M197.168 176.214V5.88231H291.994V37.8514H238.064V70.5877H288.416V106.137H238.064V142.454H291.994V176.214H197.168Z" fill="url(#paint1_linear_1004_3024)"/>
                  <path d="M386.924 176.214V5.88231H446.478C460.621 5.88231 472.038 9.2071 480.728 15.8567C489.418 22.5062 494.189 33.4184 495.041 48.593C495.041 59.5051 493.337 68.5417 489.929 75.7028C486.692 82.8639 481.069 88.2347 473.06 91.8152C479.365 93.5202 484.306 96.163 487.885 99.7436C491.463 103.324 493.252 107.842 493.252 113.298L495.041 154.73C495.041 161.039 495.808 165.301 497.342 167.518C498.875 169.735 500.494 170.843 502.198 170.843V176.214H465.903C460.621 176.214 457.213 175.446 455.679 173.912C454.146 172.207 453.379 168.2 453.379 161.891V126.342C453.379 120.715 452.272 116.538 450.056 113.81C447.841 111.082 443.666 109.718 437.532 109.718H428.075V176.214H386.924ZM428.075 79.5391H437.532C441.451 79.5391 445.03 77.9193 448.267 74.6798C451.675 71.4403 453.379 66.1547 453.379 58.8231V53.9638C451.675 44.0747 448.608 38.3629 444.178 36.8284C439.918 35.1234 434.55 34.2709 428.075 34.2709V79.5391Z" fill="url(#paint2_linear_1004_3024)"/>
                  <path d="M623.838 176.214L586.265 5.88231H627.416L647.352 122.761L668.822 5.88231H710.229L672.401 176.214H623.838Z" fill="url(#paint3_linear_1004_3024)"/>
                  <path d="M803.11 176.214V5.88231H897.936V37.8514H844.005V70.5877H894.358V106.137H844.005V142.454H897.936V176.214H803.11Z" fill="url(#paint4_linear_1004_3024)"/>
                  <defs>
                    <linearGradient id="paint0_linear_1004_3024" x1="452.5" y1="0" x2="452.5" y2="688" gradientUnits="userSpaceOnUse">
                      <stop stop-color="white"/>
                      <stop offset="1" stop-color="white" stop-opacity="0.3"/>
                    </linearGradient>
                    <linearGradient id="paint1_linear_1004_3024" x1="452.5" y1="0" x2="452.5" y2="688" gradientUnits="userSpaceOnUse">
                      <stop stop-color="white"/>
                      <stop offset="1" stop-color="white" stop-opacity="0.3"/>
                    </linearGradient>
                    <linearGradient id="paint2_linear_1004_3024" x1="452.5" y1="0" x2="452.5" y2="688" gradientUnits="userSpaceOnUse">
                      <stop stop-color="white"/>
                      <stop offset="1" stop-color="white" stop-opacity="0.3"/>
                    </linearGradient>
                    <linearGradient id="paint3_linear_1004_3024" x1="452.5" y1="0" x2="452.5" y2="688" gradientUnits="userSpaceOnUse">
                      <stop stop-color="white"/>
                      <stop offset="1" stop-color="white" stop-opacity="0.3"/>
                    </linearGradient>
                    <linearGradient id="paint4_linear_1004_3024" x1="452.5" y1="0" x2="452.5" y2="688" gradientUnits="userSpaceOnUse">
                      <stop stop-color="white"/>
                      <stop offset="1" stop-color="white" stop-opacity="0.3"/>
                    </linearGradient>
                  </defs>
                </svg>
              </div>
              <div id="save-text">
                <svg width="894" height="180" viewBox="0 0 894 181" fill="none">
                  <path d="M0 119.055H37.4561V131.26C37.4561 136.94 38.605 141.469 40.903 144.846C43.3541 148.223 47.5669 149.912 53.5415 149.912C57.9842 149.912 61.3544 148.223 63.6523 144.846C65.9503 141.469 67.0992 137.4 67.0992 132.641C67.0992 126.807 65.4907 122.202 62.2736 118.824C59.0565 115.447 54.2309 111.839 47.7967 108.001C47.0307 107.541 45.9584 106.927 44.5796 106.159C37.3795 102.014 31.3283 98.2527 26.4261 94.8753C21.677 91.3444 17.5408 87.5831 14.0173 83.5916C10.1874 78.986 7.27674 73.9198 5.28521 68.3931C3.29368 62.7129 2.29792 56.2651 2.29792 49.0496C2.29792 33.0835 6.74056 20.9555 15.6258 12.6654C24.6643 4.22179 37.1497 0 53.0819 0C69.4737 0 82.1123 4.68236 90.9976 14.0471C100.036 23.4118 104.555 35.8469 104.555 51.3524C104.555 51.3524 104.479 52.12 104.326 53.6552C104.326 54.4228 104.326 55.1904 104.326 55.958H67.0992V53.8855C66.946 50.508 66.7162 47.6679 66.4099 45.3651C66.1035 43.0623 65.4907 40.8363 64.5715 38.687C63.8055 36.5377 62.5034 34.7723 60.6651 33.3906C58.9799 32.0089 56.682 31.2413 53.7713 31.0878C49.4819 31.0878 46.1882 32.0857 43.8902 34.0814C41.5923 36.0772 40.2136 38.9173 39.754 42.6018C39.754 42.9088 39.754 43.3694 39.754 43.9835C39.6008 44.444 39.5242 44.9046 39.5242 45.3651C39.5242 49.3567 40.52 52.7341 42.5115 55.4975C44.6562 58.1073 47.7967 60.8706 51.933 63.7875C54.9969 65.7833 59.8225 68.7002 66.4099 72.5382C77.7462 79.1395 85.4826 84.3592 89.6188 88.1972C94.6742 92.8028 98.4275 98.3295 100.879 104.777C103.33 111.225 104.555 119.438 104.555 129.417C104.555 145.997 100.113 158.74 91.2274 167.644C82.3421 176.548 69.4737 181 52.6223 181C43.7371 181 35.9241 179.849 29.1836 177.546C22.443 175.243 16.928 172.096 12.6386 168.104C8.34911 163.959 5.13202 159.277 2.98729 154.057C0.995765 148.838 0 143.311 0 137.477V119.055Z" fill="white"/>
                  <path d="M293.961 176.855H253.287L290.973 4.14503H339.689L377.145 176.855H336.242L330.497 143.234H298.786L293.961 176.855ZM326.591 112.837L315.331 35.4631H314.872L303.152 112.837H326.591Z" fill="white"/>
                  <path d="M577.93 176.855H530.363L492.907 4.14503H533.35L554.031 125.272H554.491L575.172 4.14503H615.615L577.93 176.855Z" fill="white"/>
                  <path d="M894 176.855H798.636V4.14503H891.243V38.687H839.08V70.4656H889.634V105.008H839.08V142.313H894V176.855Z" fill="white"/>
                </svg>
              </div>
              <div id="serve-text-back">
                <svg width="898" height="180" viewBox="0 0 898 180" fill="none">
                  <path d="M0.511192 116.879H37.8282C37.8282 117.22 37.8282 117.561 37.8282 117.902C37.8282 118.243 37.8282 118.584 37.8282 118.925C37.6578 119.266 37.5726 119.692 37.5726 120.204C37.5726 120.545 37.5726 120.886 37.5726 121.227C37.4022 121.909 37.2318 122.591 37.0614 123.273C37.0614 123.955 37.0614 124.552 37.0614 125.063C37.0614 132.736 38.595 138.533 41.6621 142.454C44.7293 146.376 48.1372 148.422 51.886 148.592C52.0564 148.592 52.1416 148.592 52.1416 148.592C52.312 148.592 52.4823 148.592 52.6527 148.592C52.9935 148.592 53.3343 148.592 53.6751 148.592C54.1863 148.592 54.6123 148.507 54.9531 148.337C58.0203 147.655 60.7466 145.95 63.1322 143.222C65.6881 140.323 66.9661 136.487 66.9661 131.713C66.9661 126.768 65.2621 122.506 61.8542 118.925C58.6166 115.344 54.5271 111.934 49.5856 108.695C47.2 106.99 44.7293 105.37 42.1733 103.836C39.6174 102.301 37.0614 100.596 34.5054 98.7206C26.3264 93.435 18.8289 86.8707 12.013 79.0276C5.19712 71.1845 1.78917 60.6134 1.78917 47.3142C1.78917 47.1437 1.78917 46.9732 1.78917 46.8027C1.95957 46.6323 2.04477 46.3765 2.04477 46.0355C2.04477 45.865 2.04477 45.6945 2.04477 45.524C2.21516 45.3535 2.30036 45.183 2.30036 45.0125C2.30036 44.16 2.30036 43.3075 2.30036 42.4549C2.47076 41.6024 2.55596 40.7499 2.55596 39.8974C4.08953 29.8378 9.28665 20.716 18.1473 12.5319C27.008 4.1773 38.3394 0 52.1416 0C65.9437 0 78.0419 4.1773 88.4362 12.5319C99.0008 20.8865 104.283 34.1004 104.283 52.1736V55.7541H66.9661V50.8948C66.9661 44.9272 65.7733 40.3237 63.3878 37.0841C61.0022 33.8446 58.3611 31.7986 55.4643 30.9461C54.7827 30.7756 54.1863 30.6903 53.6751 30.6903C53.1639 30.5198 52.6527 30.4346 52.1416 30.4346C51.9712 30.4346 51.8008 30.4346 51.6304 30.4346C51.6304 30.4346 51.5452 30.4346 51.3748 30.4346C48.478 30.6051 45.7517 31.8838 43.1957 34.2709C40.8101 36.6579 39.6174 39.6417 39.6174 43.2222C39.6174 48.5078 41.4065 52.9408 44.9849 56.5213C48.7336 59.9314 53.2491 63.1709 58.5314 66.24C60.5762 67.604 62.7062 68.968 64.9213 70.332C67.3069 71.5255 69.6925 72.8043 72.078 74.1683C79.9163 78.7718 87.073 84.7394 93.5481 92.071C100.194 99.2321 103.772 109.462 104.283 122.761V127.109C104.283 147.228 98.8304 161.039 87.925 168.541C77.1899 175.873 64.6657 179.538 50.3524 179.538L44.9849 179.794C30.5011 178.942 19.3401 174.082 11.5018 165.216C3.83394 156.35 0 143.818 0 127.621C0 126.768 0 125.916 0 125.063C0.170397 124.211 0.255596 123.358 0.255596 122.506C0.255596 122.165 0.255596 121.824 0.255596 121.483C0.255596 121.142 0.255596 120.801 0.255596 120.46C0.425993 119.948 0.511192 119.351 0.511192 118.669C0.511192 117.987 0.511192 117.39 0.511192 116.879Z" fill="url(#paint0_linear_1004_3024)"/>
                  <path d="M197.168 176.214V5.88231H291.994V37.8514H238.064V70.5877H288.416V106.137H238.064V142.454H291.994V176.214H197.168Z" fill="url(#paint1_linear_1004_3024)"/>
                  <path d="M386.924 176.214V5.88231H446.478C460.621 5.88231 472.038 9.2071 480.728 15.8567C489.418 22.5062 494.189 33.4184 495.041 48.593C495.041 59.5051 493.337 68.5417 489.929 75.7028C486.692 82.8639 481.069 88.2347 473.06 91.8152C479.365 93.5202 484.306 96.163 487.885 99.7436C491.463 103.324 493.252 107.842 493.252 113.298L495.041 154.73C495.041 161.039 495.808 165.301 497.342 167.518C498.875 169.735 500.494 170.843 502.198 170.843V176.214H465.903C460.621 176.214 457.213 175.446 455.679 173.912C454.146 172.207 453.379 168.2 453.379 161.891V126.342C453.379 120.715 452.272 116.538 450.056 113.81C447.841 111.082 443.666 109.718 437.532 109.718H428.075V176.214H386.924ZM428.075 79.5391H437.532C441.451 79.5391 445.03 77.9193 448.267 74.6798C451.675 71.4403 453.379 66.1547 453.379 58.8231V53.9638C451.675 44.0747 448.608 38.3629 444.178 36.8284C439.918 35.1234 434.55 34.2709 428.075 34.2709V79.5391Z" fill="url(#paint2_linear_1004_3024)"/>
                  <path d="M623.838 176.214L586.265 5.88231H627.416L647.352 122.761L668.822 5.88231H710.229L672.401 176.214H623.838Z" fill="url(#paint3_linear_1004_3024)"/>
                  <path d="M803.11 176.214V5.88231H897.936V37.8514H844.005V70.5877H894.358V106.137H844.005V142.454H897.936V176.214H803.11Z" fill="url(#paint4_linear_1004_3024)"/>
                  <defs>
                    <linearGradient id="paint0_linear_1004_3024" x1="452.5" y1="0" x2="452.5" y2="688" gradientUnits="userSpaceOnUse">
                      <stop stop-color="white"/>
                      <stop offset="1" stop-color="white" stop-opacity="0.3"/>
                    </linearGradient>
                    <linearGradient id="paint1_linear_1004_3024" x1="452.5" y1="0" x2="452.5" y2="688" gradientUnits="userSpaceOnUse">
                      <stop stop-color="white"/>
                      <stop offset="1" stop-color="white" stop-opacity="0.3"/>
                    </linearGradient>
                    <linearGradient id="paint2_linear_1004_3024" x1="452.5" y1="0" x2="452.5" y2="688" gradientUnits="userSpaceOnUse">
                      <stop stop-color="white"/>
                      <stop offset="1" stop-color="white" stop-opacity="0.3"/>
                    </linearGradient>
                    <linearGradient id="paint3_linear_1004_3024" x1="452.5" y1="0" x2="452.5" y2="688" gradientUnits="userSpaceOnUse">
                      <stop stop-color="white"/>
                      <stop offset="1" stop-color="white" stop-opacity="0.3"/>
                    </linearGradient>
                    <linearGradient id="paint4_linear_1004_3024" x1="452.5" y1="0" x2="452.5" y2="688" gradientUnits="userSpaceOnUse">
                      <stop stop-color="white"/>
                      <stop offset="1" stop-color="white" stop-opacity="0.3"/>
                    </linearGradient>
                  </defs>
                </svg>
              </div>
            </div>
          </div>
          <div id="middle-text">
            <svg width="900" height="171" viewBox="0 0 900 171" fill="none">
              <path d="M32.5628 170.331V33.7593H0.613281V0H104.385V33.7593H74.2249V170.331H32.5628Z" fill="url(#paint0_linear_1004_3027)"/>
              <path d="M395.868 170.331V0H437.019V64.7054H464.112V0H505.774V170.331H464.112V100.255H437.019V170.331H395.868Z" fill="url(#paint1_linear_1004_3027)"/>
              <path d="M804.798 170.331V0H899.624V31.9691H845.693V64.7054H896.045V100.255H845.693V136.572H899.624V170.331H804.798Z" fill="url(#paint2_linear_1004_3027)"/>
              <defs>
                <linearGradient id="paint0_linear_1004_3027" x1="452.5" y1="-261.635" x2="452.5" y2="426.365" gradientUnits="userSpaceOnUse">
                  <stop stop-color="white"/>
                  <stop offset="1" stop-color="white" stop-opacity="0.3"/>
                </linearGradient>
                <linearGradient id="paint1_linear_1004_3027" x1="452.5" y1="-261.635" x2="452.5" y2="426.365" gradientUnits="userSpaceOnUse">
                  <stop stop-color="white"/>
                  <stop offset="1" stop-color="white" stop-opacity="0.3"/>
                </linearGradient>
                <linearGradient id="paint2_linear_1004_3027" x1="452.5" y1="-261.635" x2="452.5" y2="426.365" gradientUnits="userSpaceOnUse">
                  <stop stop-color="white"/>
                  <stop offset="1" stop-color="white" stop-opacity="0.3"/>
                </linearGradient>
              </defs>
            </svg>
          </div>
          <div>
            <svg width="903" height="175" viewBox="0 0 903 175" fill="none">
              <path d="M436.958 145.846C448.326 131.185 453.265 113.182 451.774 95.6139C451.227 90.1827 449.948 84.835 448.156 79.6805C446.951 76.2147 445.518 72.8011 443.819 69.5371C443.798 69.4919 443.798 69.4553 443.775 69.41C440.263 62.3094 436.234 57.2925 436.234 57.2925L436.223 57.2994C431.994 51.863 426.679 47.1036 421.195 43.3906C420.998 43.2565 420.8 43.126 420.601 42.9937C410.816 37.0699 399.2 33.3916 388.417 32.2496C388.132 32.22 387.849 32.2061 387.563 32.1783V32.1801C387.913 21.1 385.107 9.95549 379.048 0.14447L378.993 0.0365601L378.96 0L378.533 0.423035V0.424744L328.003 50.5243C321.72 56.7598 316.826 63.8587 313.316 71.4345C312.506 73.1805 311.782 74.9526 311.119 76.7456C308.127 84.8454 306.636 93.3735 306.652 101.9C306.685 120.317 313.743 138.726 327.845 152.804C342.049 166.984 360.699 174.078 379.347 174.078C397.914 174.078 416.48 167.05 430.672 152.979C431.002 152.65 431.309 152.306 431.637 151.973L431.59 152.018C431.606 152.003 431.622 151.989 431.636 151.973C433.545 150.006 435.319 147.961 436.958 145.846ZM383.2 52.6028L383.201 52.5976C383.492 51.8874 383.763 51.1719 384.025 50.4529C384.078 50.3067 384.13 50.1604 384.183 50.0142C384.435 49.304 384.678 48.5903 384.904 47.8713C384.904 47.8713 384.904 47.8696 384.906 47.8679C385.25 46.7642 385.565 45.6519 385.843 44.5325C399.799 52.2877 412.395 65.0215 415.7 81.0523C418.644 95.3319 411.441 110.007 400.052 119.02C402.401 116.54 404.766 111.025 404.766 111.025C406.629 105.841 406.993 100.15 405.665 94.4163C402.329 79.9922 392.538 66.8702 384.025 56.8364C383.158 55.8076 382.309 54.6552 382.309 54.6552C382.619 53.9762 382.918 53.2921 383.2 52.6028ZM355.161 97.1057C355.287 96.3833 355.427 95.6836 355.59 95.0168C356.419 91.8852 357.7 88.8632 359.269 86.3478L360.603 84.459C364.678 79.369 369.141 74.4495 373.202 69.2516C375.557 66.2366 377.763 63.1275 379.669 59.8287C380.168 58.9636 380.636 58.0863 381.088 57.2002C381.095 57.1845 381.102 57.1706 381.109 57.1567C381.385 56.6153 381.644 56.0704 381.901 55.5221C381.628 56.1 381.324 56.7319 381.109 57.1567C381.102 57.1723 381.095 57.1862 381.088 57.2019C390.307 67.939 400.024 81.0193 403.251 94.9698C405.961 106.687 400.884 117.899 390.91 124.412C390.69 124.556 390.466 124.692 390.242 124.831C390.029 124.955 389.784 125.082 389.544 125.19C388.05 125.787 386.526 126.3 384.976 126.702C384.928 126.715 384.879 126.723 384.83 126.736C382.886 127.254 380.85 127.531 378.75 127.531C372.668 127.531 367.12 125.204 362.862 121.379C362.657 121.162 362.426 120.97 362.226 120.747C359.901 118.171 357.815 115.478 356.454 112.264C356.29 111.876 356.136 111.483 355.991 111.086C355.034 108.452 354.512 105.608 354.517 102.643C354.521 100.739 354.75 98.8865 355.161 97.1057ZM431.195 152.401C431.218 152.379 431.24 152.356 431.263 152.335L431.195 152.401ZM429.855 150.262L429.673 150.436L429.477 150.622C420.588 159.124 408.936 163.817 396.663 163.831H396.571C384.194 163.819 372.577 159.053 363.915 150.462L363.782 150.327L363.759 150.3C355.084 141.64 350.299 130.097 350.281 117.793C350.278 115.993 350.381 114.169 350.588 112.372C350.883 109.8 351.398 107.239 352.12 104.737C352.304 107.195 352.822 109.603 353.664 111.92C353.821 112.357 353.992 112.79 354.173 113.218C355.796 117.048 358.346 120.131 360.384 122.391C362.86 125.134 365.654 127.625 368.739 129.836L368.817 129.881L369.257 130.168L369.25 130.167C369.825 130.525 370.403 130.873 371.09 131.258C371.844 131.683 372.605 132.083 373.346 132.45L373.727 132.645L373.804 132.55L373.757 132.647C379.707 135.551 386.095 137.257 392.844 137.727C393.432 137.763 394.021 137.791 394.613 137.812L394.872 137.823C395.426 137.838 395.983 137.842 396.553 137.842H396.562L396.908 137.84C397.449 137.836 397.99 137.821 398.539 137.798L398.941 137.779C399.468 137.753 399.993 137.72 400.532 137.676L400.987 137.636C401.494 137.589 402.007 137.541 402.547 137.478L402.983 137.42C403.492 137.356 404.001 137.285 404.558 137.199L404.959 137.13C405.482 137.043 406.007 136.952 406.551 136.842L406.838 136.782C408.638 136.414 410.437 135.944 412.332 135.349C412.655 135.244 412.979 135.133 413.299 135.02L413.57 134.926L413.779 134.854L414.319 134.665C414.646 134.543 414.968 134.416 415.292 134.289L416.3 133.894L417.455 133.392L418.209 133.055L418.968 132.694L419.287 132.541L420.125 132.123L421.02 131.65C421.353 131.476 421.678 131.295 422 131.115C422.301 130.943 422.6 130.774 422.873 130.61C423.197 130.419 423.521 130.224 423.902 129.989L424.686 129.493C425.015 129.281 425.34 129.061 425.68 128.833L425.906 128.678L426.453 128.299C426.791 128.064 427.122 127.818 427.463 127.564L427.713 127.378L428.206 127.009C428.548 126.746 428.883 126.474 429.225 126.196L429.454 126.011L429.902 125.644C430.273 125.332 430.64 125.009 430.994 124.695L431.55 124.204C432.092 123.71 432.631 123.202 433.154 122.68C439.187 116.698 443.703 109.282 446.21 101.235C447.376 97.487 448.102 93.6625 448.394 89.8258C448.805 91.8556 449.11 93.8575 449.309 95.8228C450.793 113.297 445.71 130.527 435 144.34C433.405 146.392 431.676 148.384 429.855 150.262Z" fill="url(#paint0_linear_1004_3030)"/>
              <path d="M0.648438 173.797V3.46533H49.4672C73.4933 3.46533 89.681 7.81314 98.0305 16.5087C106.38 25.2043 110.555 38.0772 110.555 55.1274C110.555 77.2926 104.932 91.6147 93.6853 98.0938C82.4391 104.573 69.1481 107.812 53.8124 107.812C52.79 107.812 51.7676 107.812 50.7452 107.812C49.7228 107.642 48.7857 107.557 47.9337 107.557C46.9113 107.557 45.8889 107.557 44.8665 107.557C43.8441 107.386 42.8218 107.301 41.7994 107.301V173.797H0.648438ZM41.7994 77.1221C54.4088 77.1221 62.0766 74.9056 64.803 70.4725C67.5294 65.869 68.8925 58.9637 68.8925 49.7566C68.8925 43.789 67.0182 39.6117 63.2694 37.2247C59.6911 34.8376 54.92 33.6441 48.9561 33.6441H41.7994V77.1221Z" fill="url(#paint1_linear_1004_3030)"/>
              <path d="M170.851 173.797V3.46533H265.677V35.4344H211.747V68.1707H262.099V103.72H211.747V140.037H265.677V173.797H170.851Z" fill="url(#paint2_linear_1004_3030)"/>
              <path d="M492.431 173.797V3.46533H541.25C565.276 3.46533 581.463 7.81314 589.813 16.5087C598.162 25.2043 602.337 38.0772 602.337 55.1274C602.337 77.2926 596.714 91.6147 585.468 98.0938C574.221 104.573 560.93 107.812 545.595 107.812C544.572 107.812 543.55 107.812 542.528 107.812C541.505 107.642 540.568 107.557 539.716 107.557C538.694 107.557 537.671 107.557 536.649 107.557C535.626 107.386 534.604 107.301 533.582 107.301V173.797H492.431ZM533.582 77.1221C546.191 77.1221 553.859 74.9056 556.585 70.4725C559.312 65.869 560.675 58.9637 560.675 49.7566C560.675 43.789 558.801 39.6117 555.052 37.2247C551.473 34.8376 546.702 33.6441 540.738 33.6441H533.582V77.1221Z" fill="url(#paint3_linear_1004_3030)"/>
              <path d="M660.845 173.797V3.46533H701.74V140.037H750.303V173.797H660.845Z" fill="url(#paint4_linear_1004_3030)"/>
              <path d="M808.174 173.797V3.46533H903V35.4344H849.069V68.1707H899.421V103.72H849.069V140.037H903V173.797H808.174Z" fill="url(#paint5_linear_1004_3030)"/>
              <defs>
                <linearGradient id="paint0_linear_1004_3030" x1="450.5" y1="-513.922" x2="450.5" y2="174.078" gradientUnits="userSpaceOnUse">
                  <stop stop-color="white"/>
                  <stop offset="1" stop-color="white" stop-opacity="0.3"/>
                </linearGradient>
                <linearGradient id="paint1_linear_1004_3030" x1="450.5" y1="-513.922" x2="450.5" y2="174.078" gradientUnits="userSpaceOnUse">
                  <stop stop-color="white"/>
                  <stop offset="1" stop-color="white" stop-opacity="0.3"/>
                </linearGradient>
                <linearGradient id="paint2_linear_1004_3030" x1="450.5" y1="-513.922" x2="450.5" y2="174.078" gradientUnits="userSpaceOnUse">
                  <stop stop-color="white"/>
                  <stop offset="1" stop-color="white" stop-opacity="0.3"/>
                </linearGradient>
                <linearGradient id="paint3_linear_1004_3030" x1="450.5" y1="-513.922" x2="450.5" y2="174.078" gradientUnits="userSpaceOnUse">
                  <stop stop-color="white"/>
                  <stop offset="1" stop-color="white" stop-opacity="0.3"/>
                </linearGradient>
                <linearGradient id="paint4_linear_1004_3030" x1="450.5" y1="-513.922" x2="450.5" y2="174.078" gradientUnits="userSpaceOnUse">
                  <stop stop-color="white"/>
                  <stop offset="1" stop-color="white" stop-opacity="0.3"/>
                </linearGradient>
                <linearGradient id="paint5_linear_1004_3030" x1="450.5" y1="-513.922" x2="450.5" y2="174.078" gradientUnits="userSpaceOnUse">
                  <stop stop-color="white"/>
                  <stop offset="1" stop-color="white" stop-opacity="0.3"/>
                </linearGradient>
              </defs>
            </svg>
          </div>
        </div>
      </div>
      <div id="slide-in-text-box">
        <p class="slide-in-text left">사람을<span>섬기<b>다</b></span></p>
        <p class="slide-in-text right">사람을<span>구하<b>다</b></span></p>
      </div>
      <div class="layer bg-layer"></div>
    </div>
</section>
