---

---
<style>
  #number-section {
    width: 100%;
    height: 1080px;
    background-color: #000;
  }
  #number-intro {
    position: relative;
    color: #FFF;
    text-align: center;
    font-size: 44px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%; /* 66px */
    z-index: 20;

    p {
      margin: 20px 0 13px;
    }
  }
</style>
<section id="number-section">
  <div id="number-intro">
    <img src="/since_2017.png" alt="2017년 부터">
    <p>전문 Face to Face 후원개발 지원</p>
    <img src="/lifeworshiper_text.png" alt="life worshiper">
  </div>
  <h1>아따 우리가 넘버원</h1>
  <p>숫자가 막 올라간다</p>
</section>
