---

---
<style>
  .bg-out-layer {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 400px;
    background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.00) 100%);
    z-index: 15;
  }
  #number-section {
    position: relative;
    width: 100%;
    background-color: #000;
    padding: 66px 0 130px;
    article {
      position: relative;
      display: flex;
      justify-content: center;
      z-index: 20;
    }
  }
  #number-intro {
    position: relative;
    color: #FFF;
    text-align: center;
    font-size: 44px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%; /* 66px */
    z-index: 20;
    margin-bottom: 95px;
    p {
      margin: 20px 0 13px;
    }
  }
  #number-panel {
    display: flex;
    min-width: 1024px;
    max-width: 1154px;
    width: 100%;
    height: 554px;
    gap: 20px;
  }
  .number-card {
    display: flex;
    background: #252525;

    .number-card-inner {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 224px;
      .number-text-box {
        display: flex;
        align-items: center;
        flex-grow: 1;
      }
      p {
        display: none;
      }
      span {
        display: block;
        width: 100%;
        text-align: left;
        color: #29A5FF;
        font-size: 24px;
        font-style: normal;
        font-weight: 800;
        line-height: 120%; /* 28.8px */
      }
    }

    &.on {
      flex-grow: 1;
      .number-card-inner {
        width: 100%;
        p {
          display: block;
          width: 100%;
          color: #FFF;
          text-align: center;
          line-height: 150%; /* 189px */
          font-weight: 200;
          font-style: normal;
        }
        span {
          padding: 0 65px 45px;
          text-align: left;
        }
      }
    }
  }

  .number-card.collection {
    .number-card-inner {
      .number-text-box {
        width: 259px;
        height: 297px;
        background: url('/collection_off.png') no-repeat center center;
      }
      span {
        padding: 0 30px 45px;
      }
    }
    &.on {
      .number-card-inner {
        .number-text-box {
          height: 100%;
          width: 100%;
          background: url('/collection_on.png') no-repeat center center;
        }
        p {
          font-size: 126px;
          letter-spacing: -2.52px;
        }
        span {
          padding: 0 65px 45px;
        }
      }
    }
  }
  .number-card.supporter {
    .number-card-inner {
      .number-text-box {
        width: 146px;
        height: 110px;
        background: url('/supporter_off.png') no-repeat center center;
      }
      span {
        text-align: center;
        padding: 0 0 45px;
      }
    }
    &.on {
      .number-card-inner {
        .number-text-box {
          width: 100%;
          height: 100%;
          background: url('/supporter_on.png') no-repeat center center;
        }
        span {
          text-align: left;
          padding: 0 65px 45px;
        }
        p {
          font-size: 220px;
          letter-spacing: -4.4px;
        }
      }
    }
  }
</style>
<script>
  function countUp(countElement, maxNumber) {
    let now = maxNumber;

    const handle = setInterval(() => {
      countElement.innerHTML = new Intl.NumberFormat().format(Math.ceil(maxNumber - now));

      // 목표에 도달하면 정지
      if (now < 1) {
        clearInterval(handle);
      }

      // 적용될 수치, 점점 줄어듬
      const step = now / 3;

      now -= step;
    }, 50);
  }

  const countItemMap = {
    collection: {
      cardElement: document.getElementById('collection-number-card'),
      textElement: document.getElementById('collection-number'),
      number: 4372734553,
    },
    supporter: {
      cardElement: document.getElementById('supporter-number-card'),
      textElement: document.getElementById('supporter-number'),
      number: 190000,
    }
  }

  const isCountUpNeeded = (entry) => {
    return entry.isIntersecting && entry.target.classList.contains('number-card') && entry.target.classList.contains('on') && !entry.target.classList.contains('count-up-ended');
  };

  const getNumberItemObj = (el) => {
    const target = el.classList.contains('collection') ? 'collection' : 'supporter';
    return countItemMap[target];
  };

  const numberCardElements = document.querySelectorAll('.number-card');

  const observer = new IntersectionObserver((entries, observer) => {
    entries.forEach(entry => {
      if (isCountUpNeeded(entry)) {
        const {textElement, number } = getNumberItemObj(entry.target);
        countUp(textElement, number);
        entry.target.classList.add('count-up-ended');
        observer.unobserve(entry.target);
      }
    });
  }, {
    root: null,
    threshold: 0.5,
  });
  numberCardElements.forEach(target => {
    observer.observe(target);
    target.addEventListener('click', (e) => {
      const { textElement, number } = getNumberItemObj(e.target);
      const targetClassList = e.currentTarget.classList;
      if(targetClassList.contains('on')) return;
      numberCardElements.forEach(el => el.classList.remove('on'));
      targetClassList.add('on');
      if(!targetClassList.contains('count-up-ended')) {
        countUp(textElement, number);
        targetClassList.add('count-up-ended');
      }
    });
  });
</script>
<section id="number-section">
  <div id="number-intro" class="will-fade-in">
    <img src="/since_2017.png" alt="2017년 부터">
    <p>전문 Face to Face 후원개발 지원</p>
    <img src="/lifeworshiper_text.png" alt="life worshiper">
  </div>
  <article>
    <div id="number-panel" class="will-fade-in">
      <div id="collection-number-card" class="number-card collection on">
        <div class="number-card-inner">
          <div class="number-text-box">
            <p id="collection-number" class="number-text"></p>
          </div>
          <span>COLLECTION (만 원)</span>
        </div>
      </div>
      <div id="supporter-number-card" class="number-card supporter">
        <div class="number-card-inner">
          <div class="number-text-box">
            <p id="supporter-number" class="number-text"></p>
          </div>
          <span>SUPPORTER (명)</span>
        </div>
      </div>
    </div>
  </article>
  <div class="bg-out-layer"></div>
</section>
