---
import Layout from '../layouts/Layout.astro';
import Header from '../components/common/Header.astro';
import Motto from '../components/main/Motto.astro';
import Numbers from '../components/main/Numbers.astro';
import SubMovie from '../components/main/SubMovie.astro';
import Interview from '../components/main/Interview.astro';

import 'swiper/css';
---
<style>
  #following-circle {
    position: fixed;
    width: 1099px;
    height: 1099px;
    left: 0;
    top: 0;
    will-change: left, top;
    border-radius: 1099px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 87, 230, 0.44) 0%, rgba(0, 87, 230, 0.00) 100%);
    z-index: 10;
    transform: translate(-50%, -50%);
  }
</style>
<script>
  const circle = document.getElementById('following-circle');
  document.addEventListener('mousemove', (e) => {
    circle.style.cssText  = `
      left: ${e.clientX}px;
      top: ${e.clientY}px;
    `;
  });
</script>
<Layout title="Lifeworshiper">
  <Header page="index" />
  <Motto />
  <Numbers />
  <SubMovie />
  <Interview />
  <div id="following-circle" aria-hidden="true"></div>
</Layout>
