---
const { page } = Astro.props;
---
<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 36px;
    padding: 20px 15px;
    border: 1px solid red;
  }
  nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
    .nav-link {
      font-size: 18px;
    }
  }
</style>
<header>
  <h1>logo</h1>
  <nav>
    <ul>
      <li class:list={['nav-link', { on: page === 'fund'}]}>펀드레이저</li>
      <li class:list={['nav-link', { on: page === 'coop'}]}>협력 기구</li>
      <li class:list={['nav-link', { on: page === 'media'}]}>미디어</li>
      <li class:list={['nav-link', { on: page === 'intro'}]}>소개</li>
      <li class:list={['nav-link', { on: page === 'career'}]}>채용</li>
    </ul>
  </nav>
</header>
